img {
  border: solid 1px;
}
.cv-ul {
  list-style-type: none;
  padding-left: 0.5em;
}
ul ul {
  padding-left: 2em;
}
span {
  user-select: none;
}
.section_title:hover {
  background-color: grey;
}
table {
  height: 100%;
  width: 100%;
  border: none;
}
td {
  width: 50%;
  vertical-align: top;
  overflow-x: hidden;
  overflow-y: scroll;
}
h2 {
  margin: 0;
}
