{{ partial "header.html" . }}

<h1><span class="title">{{ .Title | markdownify }}</span></h1>

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if not .IsHome }}
  {{ $t := slice "books" "cheatsheets" "com" "mandarin" "lang" "music" "other" "trade-journal" "trading" }}
  {{ range (where $pages ".Params.tags" "intersect" $t) }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    <span class="date" style="color:grey">({{ .Date.Format "2006/01/02" }})</span>
  </li>
  {{ end }}
  {{ end }}
</ul>

<h1>Work in Progress</h1>
<ul>
  {{ $pages := .Pages }}
  {{ if not .IsHome }}
  {{ $t := slice "wip" }}
  {{ range (where $pages ".Params.tags" "intersect" $t) }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    <span class="date" style="color:grey">({{ .Date.Format "2006/01/02" }})</span>
  </li>
  {{ end }}
  {{ end }}
</ul>

{{ partial "footer.html" . }}
