{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ range $key, $taxonomy := .Site.Taxonomies.categories.Alphabetical }}
  <h2><span class="category">{{ .Name }}</span></h2>

  {{ if eq .Name "cheatsheets" }}
    <center>
    <div class="cheatsheets" style="width:80%">
      {{ range $i, $page := $taxonomy.Pages.ByParam "title" }}
        <span>
          <a href="{{ $page.Permalink }}">{{ $page.Title }}</a>
        </span>
        {{ if lt (add $i 1) (len $taxonomy.Pages) }} | {{ end }}
      {{ end }}
    </div>
    </center>
  {{ else }}
    <ul>
      {{ range $taxonomy.Pages.ByParam "title" }}
        <li>
          <!--<span style='font-family:monospace'>{{ .Date.Format "20060102" }}</span>-->
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}

{{ partial "footer.html" . }}
