<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="Zef0e8PG2mm_Ob63aRb2u8FZkHhh2NAY1LRYj3p8Khc" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/highlight.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
    <!-- LATEX -->
    {{ if .Params.math }}{{ partial "helpers/katex.html" . }}{{ end }}
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
