.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
}
.title { font-size: 1.1em; }
hr {
  background: black;
  border: 0;
  height: 1px;
}

pre {
  border: 1px solid #ddd;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video {
  max-width: 100%;
  float: none;
}
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  max-width: 100%;
}
th, td {
  padding: 2px;
  /*white-space: nowrap;*/
  vertical-align: top;
}
thead, tfoot { background: #eee }

.equal-table table {
  table-layout: fixed;
}
.equal-table th, td {
  border: solid black 1px;
}
.equal-table table td {
  width: 50px;
}

/* TOOLTIPS */
.definition {
    visibility: hidden;
    /*width: 240px;*/
    white-space: nowrap;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50%;
    opacity: 0;
    transition: opacity 0.3s;
}

.term {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.term:hover .definition {
    visibility: visible;
    opacity: 1;
}
