<script src="./media/com-app-tuning/mockup.js"></script>
<style>

.wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: min-content;
}

.controls {
  background-color: silver;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: stretch;
}
div > div {
  border: 1px solid blue;
  background-color: lightgreen;
}

/* MENU button */
.btn-menu {
  background: none;
  /*margin-left: auto;*/
  display: block;
  margin: auto;
  width: 1.5em;
}

/* FREQ text label */
input[type=text] {
  width: 2em;
  text-align: center;
}

/* FREQ slider */
input[type=range][orient=vertical] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  width: 8px;
  padding: 0 5px;
}
.freq {
  height: 175px;
}
.finetune {
  height: 170px;
}

/* FREQ number label */
input[type=number] {
  width: 2em;
  text-align: center;
}
/* hide spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* DIVIDER */
.divider {
  background: none;
  border: none;
  width: 2em;
}

/* GRAPH */
.graph {
  /*background: yellow;*/
  background: none;
  /*height: 100%;*/
  width: 4em;
}
.canvas {
  height: 100%;
  width: 100%;
}
</style>

<center>
<div class="wrapper">

  <div class="controls">
  <!-- CONTROLS -->
  <!-- menu button -->
  <div><img class="btn-menu" src='./media/com-app-tuning/menu.svg'></img></div>
  <div><img class="btn-menu" src='./media/com-app-tuning/menu.svg'></img></div>
  <div><img class="btn-menu" src='./media/com-app-tuning/menu.svg'></img></div>

  <!-- labels -->
  <div><input class="name" id="lbl1" type="text" value="A"></input></div>
  <div><input class="name" id="lbl2" type="text" value="B"></input></div>
  <div><input class="name" id="lbl3" type="text" value="C"></input></div>

  <!-- sliders -->
  <div><input id="freq1" type="range" class="freq" orient="vertical" value="400" min="30" max="800"></input></div>
  <div><input id="freq2" type="range" class="freq" orient="vertical" value="600" min="30" max="800"></input></div>
  <div><input id="freq3" type="range" class="freq" orient="vertical" value="800" min="30" max="800"></input></div>

  <!-- freq label -->
  <div><input class="label" id="label1" type="number" value="400"></input></div>
  <div><input class="label" id="label2" type="number" value="600"></input></div>
  <div><input class="label" id="label3" type="number" value="800"></input></div>

  <!-- fine tuning -->
  <div><input type="range" class="finetune" orient="vertical"></input></div>
  <div><input type="range" class="finetune" orient="vertical"></input></div>
  <div><input type="range" class="finetune" orient="vertical"></input></div>

  <!-- play buttons -->
  <div><button>></button></div>
  <div><button>||</button></div>
  <div><button>></button></div>
  <!-- /CONTROLS -->
  </div>

  <!-- DIVIDER -->
  <div class="divider"></div>

  <!-- GRAPH -->
  <div class="graph"><canvas id='canvas' class="canvas"></canvas></div>

<!-- /WRAPPER -->
</div>
</center>
